body {
	padding-left: 10px;
	background-color: #dfdfdf;
	overflow: hidden;
}

#all {
	overflow: auto;
}

.tab {
	border-radius: 4px 0 0 4px;
	border: 1px solid #777777;
	border-right: 0;

	margin-bottom: 2px;

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 34px;
	padding-right: 34px;

	background-color: #d3d3d3;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 2px 0px;

	height: 1.1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tab.active {
	border: 2px solid #303030;
	background-color: #b3b3b3;
}
