body {
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0.0);
	overflow: hidden;
}

#all {
	overflow: auto;
}

.tab {
	border-radius-left: 4px;
	border: 1px solid black;
	border-right: 0;

	margin-bottom: 2px;

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 34px;

	background-color: #faebd7;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 2px 0px;

	height: 1.1em;
}

.tab.active {
	border-width: 2px;
	background-color: #deb887;
}
